.client__button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #357ab8;
  }
}

.client-list__add-button, .client-list__delete-button, .client__edit-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #357ab8;
  }
}
.client-list__delete-button{
  padding: 5px 10px;
  font-size: 0.8rem;
}
